.social {
    display: flex;
    justify-content: center;

    &__item {
        padding: 1rem;
        display: flex;
        align-items: center;

        &--facebook {
            background: #294c7c;
        }

        &--google {
            background: #ea4436;
        }
    }
}
