.profile {
    height: 100%;

    &__content {
        @include respond(phone) {
            margin-top: 100px;
        }
    }

    &__image {
        width: 100px;
        height: 100px;
        border-radius: 100%;
    }
}
